<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">


	<context:property-placeholder location="classpath:jdbc.properties"/>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	<property name="driverClass" value="${jdbc.driver}"></property>
	<property name="jdbcUrl" value="${jdbc.url}"></property>
	<property name="user" value="${jdbc.username}"></property>
	<property name="password" value="${jdbc.password}"></property>
	</bean>
	

	<!-- 配置业务层 -->
	<bean id="accountService" class="cn.xmqq.spring.demo.AcountServiceImpl">
	<!-- 注入dao到service -->
	<property name="accountDao" ref="accountDao"></property>
	<!-- 注入事务管理，那个类需要事务管理，就注入到哪里 -->
	<property name="transactionTemplate" ref="transactionTemplate"></property>
	</bean>
	
	<bean id="accountDao" class="cn.xmqq.spring.demo.AccountDaoImpl">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 对dataSource 数据源进行事务管理 -->
 	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 配置事务管理模板，spring为了简化事务代码 -->
	<bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="transactionManager"></property>
	</bean>
	
	
	
</beans>  